 * {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* border: dashed 1px red; */
}

#float {
	display: block;
	width: 100%;
	min-height: 7em;
}

form#add {
	display: block;
	position: absolute;
	right: 0;
	width: 18em;
	min-height: 4em;
	margin: 10px;
	padding: 5px;
	border: dotted 1px black;
}

input[type=text] {
	border: 1px solid currentColor;
}

#add label {
	display: block;
	width: 6em;
	float: left;
	clear: left;
}

#add input {
	display: block;
	width: 12em;
	float: left;
}

#add input[type=button] {
	position: relative;
	/* padding-right: 0; */
	right: 2em;
	margin: 0;
	width: 5em;
	float: right;
	clear: left;
}

#add input[value=Remove] {
	display: none;
}

#add #warn {
	display: none;
	height: 1em;
	clear: both;
	width: 100%;
	color: red;
	font-size: large;
	font-weight: bold;
}

#spin {
	width: 99%;
	/* height: 8em; */
	/* border: solid 1px grey; */
}

#spin input[type=button] {
	width: 100%;
	height: 2em;
}

#spin p {
	display: block;
	margin-top: 1em;
	margin-left: 50%;
	position: relative;
	left: -25%;
	width: 50%;
}

#spin #winner {
	position: relative;
	width: 50%;
	left: -25%;
	margin-left: 50%;
	border: double 2px gold;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}
